body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
}

canvas {
    display: block
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 3em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    text-align: center;
}

span {
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 1;
}

img {
    width: 200px;
    position: absolute;
    top: 104%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;

}


body {
    overflow-x: hidden;
    padding: 20px 0;
}